html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
	============================================================
	Grid
	============================================================
*/

/* Container: Set width of entire grid */
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
}

/* Row: keep columns inside it from overflowing onto other rows */
.row {
	background: #FFF;
}

/* columns: 1/3 and 2/3 of screen */
.col-1-3 {
	width: 33.33%;
}

.col-2-3 {
	width: 66.66%;
}

.col-3-3 {
	width: 100%;
}


/*
	============================================================
	Header
	============================================================
*/

.primary-header {
	width: 100%;
	position: fixed;
	top: 0;
	height: 50px;
	background: #FFF;
	z-index: 1;
}

.title {
	text-align: center;
	margin: 10px 0;
}

/*
	============================================================
	Main
	============================================================
*/

.main {
	position: relative;
	top: 50px;
}

/*
	============================================================
	Tweets
	============================================================
*/

.tweets {
	border: 1px solid #F0F0F0;
	border-radius: 15px;
	background: #F0F0F0;
	padding: 0 1.2em;
}

.tweets-header {
	position: relative;
}

.tweets-header h2,
.tweets-header button {
	display: inline-block;
	vertical-align: middle;
}

.tweets-header button {
	position: absolute;
	right: 20px;
	top: 0;
	bottom: 0;
	margin: .7em 0;
}

/*
	============================================================
	Individual Tweet
	============================================================
*/

.created-date {
	margin: auto 10px;
}

.tweet {
	height: 100%;
	padding: 15px 0;
	border-top: 1px solid #ccc;
}

.tweet p {
	margin: 0;
}

/*
	============================================================
	Buttons
	============================================================
*/

.btn {
  color: #ffffff;
  font-size: 16px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}